extends layout

append scripts
  script(src='/javascripts/d3.js')
  script(src='/javascripts/co2-chart.js')

block content
  h1 Co2 Report

  script.
    const co2Data = !{JSON.stringify(co2Data)}

    function start(websocketServerLocation) {

      let intervalId;

      console.log('connecting to websocket...')
      const websocket = new WebSocket("ws://localhost:8080")

      websocket.onclose = () => {
        console.log('server died', event)
        setTimeout(() => start(), 1000);
      };

      websocket.onerror = (event) => {
        console.log('error', event)
      }

      websocket.onmessage = (event) => {
        console.log('message recieved')
        co2Data.push(JSON.parse(event.data))
        graph.update(co2Data)
      }

      websocket.onopen = () => {
        console.log('websocket connected!')
      }
    }

    start()
    graph.init(co2Data)


